# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Dataset (optional if too large)
dataset/

# Model checkpoints (optional)
*.pt
*.pth
*.h5
*.onnx

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db